.featured-category {
    width: 100%;
    background: #f9f9f9;
    padding-bottom: 30px
}

.two-banners-section {
    height: auto
}

.super-deals {
    width: 100%;
    padding-bottom: 30px
}

.cms-home .vertical-menu-content {
    display: block !important
}

.featured-products-section {
    width: 100%;
    background: #f9f9f9;
    padding-bottom: 10px
}

.about-us-heading {
    color: #000;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 300;
    line-height: 54.47px;
    text-align: left
}

.about-us-content-paragraph {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    color: #000;
    line-height: 20px;
    margin-bottom: 90px
}

.about-us-content {
    margin: 100px 0 50px 0
}

.main-btn-about {
    background: #d9d9d9;
    padding: 12px 23px;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 20.43px;
    text-align: left;
    color: #000
}

.about-image img {
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
    float: right
}

.home-page-36 .block-home .block-title {
    padding: 10px 11px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #222;
    background: #ddd !important;
    margin-bottom: 10px
}

.home-page-36 .block-home.absolute-nav.no-bg-title .owl-theme .owl-nav {
    top: -47px
}

.about-us-home {
    width: 100%;
    padding: 30px 0
}

.global-brand {
    width: 100%;
    padding-bottom: 40px
}

.clients-home {
    width: 100%;
    padding-bottom: 30px
}

.single-banner-home {
    width: 100%;
    padding: 40px 0 30px
}

.main-page-heading {
    padding: 30px 0
}

.main-page-heading .heading-home {
    font-size: 30px;
    font-weight: 600;
    color: #000;
    text-align: left;
    line-height: 40px
}

.main-page-promo-heading {
    padding: 30px 0 0 0
}

.main-page-promo-heading .promo-heading-home,
.promotion-heading .promo-heading-home {
    font-size: 30px;
    font-weight: 600;
    color: #000;
    text-align: left;
    line-height: 40px;
    margin-bottom: -10px !important
}

.home-page-36 .block-collection {
    padding-top: 16px
}

.featured-products-section .block-home {
    background: 0 0 !important
}

.featured-category .block-home {
    box-shadow: unset !important
}

.service-info h2 {
    width: 100%;
    display: block;
    float: left;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0
}

.service-info p {
    width: 100%;
    display: block;
    float: left;
    font-size: 13px;
    text-transform: capitalize;
    margin: 0;
    line-height: 17px
}

.home-services ul li:not(:last-child) a {
    border-right: 1px solid #e5e5e5;
    height: 93px !important
}

.global-brand .block-brand .block-content .owl-stage-outer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px
}

.global-brand .owl-theme .owl-nav [class*=owl-].owl-prev {
    left: 0 !important;
    border: 2px solid #ececec;
    border-radius: 0 !important
}

.global-brand .owl-theme .owl-nav [class*=owl-].owl-next {
    right: 0 !important;
    border: 2px solid #ececec;
    border-radius: 0 !important
}

.global-brand .owl-theme .owl-nav [class*=owl-] {
    margin: -20px 0 0;
    width: 30px !important;
    height: 30px !important;
    line-height: 28px !important;
    -moz-box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0
}

.header-8-style .desktop-menu .sm_megamenu_wrapper_vertical_menu ul.sm_megamenu_menu>li:hover>a {
    color: #000 !important;
    background: #faa61a !important
}

.desktop-menu .sm_megamenu_wrapper_vertical_menu ul.sm_megamenu_menu>li>a.sm_megamenu_head {
    padding: 12px 30px 11px 30px !important
}

.featured-products-section .owl-carousel .owl-item img {
    display: inline-flex !important;
    width: unset !important
}

.header-container .hotline-shop strong {
    font-weight: 500
}

.products-list .listing_product_info {
    display: flex;
    width: 100%
}

.products-grid .stock-unavailable span {
    color: red;
    font-weight: 600;
    line-height: 12px
}

.products-list .product-item-details {
    margin-left: 20px;
    width: 100%;
    border-bottom: 1px dashed #aaa
}

.products-list .product-item-details .product-item-inner {
    width: 25%;
    text-align: center
}

.products-list .stock-status {
    margin: 10px 0;
    text-align: center;
    color: #00bf67;
    font-weight: 600;
    line-height: 12px
}

.products-list .listing-prod-detail {
    margin-top: 20px
}

.products-list .product-item .price-box {
    display: none
}

.products-grid .product-item-details .listing_page_price {
    margin: 16px 0 25px 0
}

.products-grid .product-item-details .listing_page_price .price {
    color: #cc1212;
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px
}

.products-grid .product-item-details .listing_page_price .inc-price-text-line {
    display: none
}

.products-grid .product-item-details .listing_page_price .inc-price {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px
}

.products-grid .product-item-details .listing_page_price .inc-price-text {
    font-size: 12px;
    margin-left: 2px
}

.products-grid .product-item-info .product-item-details .product-item-inner .actions-primary .tocart {
    font-size: 100%;
    color: #fff;
    background: #3f9a59;
    border-radius: 1px;
    padding: 0 30px;
    width: 155px;
    height: 40px
}

.products-grid .product-item-info .product-item-details .product-item-inner .actions-primary .tocart span {
    font-size: 11px;
    font-weight: 700;
    line-height: 11px;
    text-align: center
}

.products-grid .product-item-info .product-item-details .product-item-inner .actions-primary .tocart:before {
    line-height: 40px;
    content: '\e957';
    display: inline-block;
    font-family: icomoon !important;
    speak: none;
    font-weight: 400;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-size: 14px;
    padding-right: 5px
}

.products-list .product-item-name a {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    color: #000
}

.products-list .listing-prod-detail table tr td:first-child {
    width: 25%;
    color: #000;
    font-weight: 600
}

.products-list .listing_page_price {
    display: flex
}

.products-list .product-item-details .listing_page_price .price {
    color: #cc1212;
    font-size: 15px;
    font-weight: 600
}

.products-list .product-item-details .listing_page_price .inc-price-text-line {
    color: #717171;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    vertical-align: text-bottom
}

.products-list .product-item-details .listing_page_price .inc-price {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    margin-right: 5px
}

.products-list .product-item-details .listing_page_price .inc-price-text {
    font-size: 12px;
    margin-left: 2px
}

.products-list .stock-unavailable span {
    color: red
}

.products-list .product-item-details .call-us {
    color: red;
    font-size: 13px;
    font-weight: 700
}

.products-list .product-item-details .call-us_seprator {
    color: #717171;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    vertical-align: text-bottom;
    margin: 0 6px
}

.products-list .product-item-details .call-num {
    color: #000;
    font-weight: 700;
    font-size: 13px
}

.products-list .product-item-info .product-item-details .product-item-inner .actions-primary .tocart span {
    font-size: 11px;
    font-weight: 700;
    line-height: 11px;
    text-align: center
}

.products-list .product-item .product-item-inner .actions-primary .tocart {
    font-size: 100%;
    line-height: 30px;
    color: #fff;
    background: #3f9a59;
    border-radius: 1px;
    padding: 0 30px;
    width: 193px;
    height: 30px
}

.products-list .product-item-info .product-item-details .product-item-inner .actions-primary .tocart:before {
    content: '\e957';
    display: inline-block;
    font-family: icomoon !important;
    speak: none;
    font-weight: 400;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-size: 14px;
    padding-right: 5px
}

.products-list .product-item-info .product-item-details .product-item-inner .listing-quote-btn {
    background-color: #ff2020;
    border-radius: 1px;
    border: none;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    width: 193px;
    height: 30px
}

.filter-options-content ol.items {
    margin: 0 15px
}

.products-related .owl-carousel .owl-item img {
    display: inline-flex !important;
    width: unset !important
}

.detail-product-slider .block-content {
    border: none
}

.product-info-main .stock-unavailable span {
    color: red
}

.product-detail-price .prices.exvat-price {
    color: #cc1212;
    font-size: 18px;
    font-weight: 600
}

.product-detail-price .prices .Exclvat {
    font-size: 10px;
    margin-left: 2px;
    color: #8c8679;
    font-weight: 500
}

.product-detail-price .Exclvat-sec .price_seprator {
    color: #717171;
    font-weight: 400;
    font-size: 13px;
    margin: 0 9px
}

.product-detail-price .inc_vat .inc_vat_detail {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    margin-right: 7px
}

.product-detail-price .inc_vat_detail .Inclvat {
    font-size: 10px;
    margin-left: 2px;
    color: #8c8679;
    font-weight: 500
}

.product-add-form .qty .label {
    display: none !important
}

.product-add-form .fieldset .control.qty-control {
    background: #fff
}

.product-options-bottom .box-tocart .field.qty .control .qty {
    height: 57px;
    color: #444;
    border: none;
    background: 0 0;
    width: 97px;
    text-align: center;
    font-size: 18px;
    display: inline-block
}

.product-info-main .box-tocart .field.qty .qty-button {
    background-color: #e5e5e4;
    width: 25px;
    height: 25px;
    border-radius: 0
}

.product-info-main .box-tocart .field.qty .qty-button .qty-btn {
    background-color: #e5e5e4;
    width: 25px !important;
    height: 25px !important
}

.product-info-main .qty-control .qty-btn:before {
    left: 8px !important;
    top: 12px !important
}

.product-info-main .qty-control .qty-plus:after {
    top: 8px !important;
    left: 12px !important
}

.product-info-main .actions .action.tocart {
    background: #3f9a59 !important;
    border-radius: 1px;
    padding: 0 30px !important;
    width: 169px;
    height: 57px !important;
    font-weight: 700;
    border: none !important
}

.product-info-main .product-add-form .box-tocart {
    padding: 20px 0 10px 20px
}

.product-info-main .box-tocart .field.qty .control .qty {
    height: 57px !important;
    width: 60px;
    position: relative;
    font-size: 20px;
    color: #000 !important
}

.product-info-main .actions .action.buynow {
    background: #faa61a !important;
    border-radius: 1px;
    padding: 0 30px !important;
    width: 169px;
    height: 57px !important;
    color: #fff !important;
    font-weight: 700;
    border: none !important;
    outline: 0
}

.need-equipmen-section {
    display: grid;
    float: right;
    position: relative;
    left: 80px;
    bottom: 63px
}

.generic table tr,
th {
    padding: 6px;
    text-align: left;
    background: #f6f6f6
}

.generic td:first-child {
    border-right: 1px #eee solid !important
}

.generic td {
    border-bottom: 1px #eee solid !important
}

.second-three-sections-about {
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    border: 1px solid #00579f
}

.second-three-sections-heading {
    font-size: 30px;
    font-weight: 600;
    color: #000;
    margin: 20px 0;
    line-height: 40px
}

.second-three-sections-paragraph {
    padding: 0;
    color: #000
}

.section-one-why {
    border-radius: 10px;
    padding: 30px 40px;
    text-align: center;
    border: 1px solid #00579f;
    margin: 40px 0
}

h2.section-one-heading {
    font-size: 30px;
    font-weight: 700;
    color: #00579f;
    margin: 20px 0;
    line-height: 40px
}

.contact-us-container .contact-container {
    order: 2
}

.contact-us-container .info-quote {
    order: 1
}

.contact-container .form-contact.brand-form {
    padding: 0 35px
}

.contact-container .quote-form-txt h2 {
    color: #000;
    font-size: 15px;
    font-weight: 700;
    line-height: 40.85px;
    text-transform: uppercase
}

.contact-container .quote-form-txt p {
    color: #7d7d7d;
    line-height: 17px;
    font-size: 12px;
    font-weight: 400
}

.form-contact.brand-form .field {
    margin-bottom: 20px
}

.form-contact.brand-form form#contact-form {
    padding: 20px 0
}

.form-contact.brand-form .fieldset input,
.form-contact.brand-form .fieldset textarea {
    width: 540px;
    color: #7d7d7d
}

.form-contact.brand-form input,
.form-contact.brand-form textarea {
    color: #7d7d7d;
    font-size: 12px
}

.form-contact.brand-form .brand-submit {
    background: #faa61a;
    border-radius: unset;
    padding: 10px 0
}

.form-contact.brand-form .brand-submit span {
    font-weight: 700;
    line-height: 19.15px;
    text-align: center;
    color: #000;
    text-transform: uppercase
}

.quote-head-help {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    margin-bottom: 12px
}

.contact-three-content ul {
    list-style: none;
    text-align: left;
    padding: 0;
    line-height: 8px;
    font-size: 12px;
    color: #7d7d7d
}

.quote-help-paragraph {
    text-align: left;
    font-size: 13px;
    line-height: 18px;
    padding-bottom: 10px;
    color: #7d7d7d
}

.contact-form-info .info-quote {
    border-right: 1px solid
}

.section-qoute-info {
    padding-right: 30px
}

.contact-us-container {
    margin: 50px 0
}

.four-zero {
    text-align: center;
    margin: 10px 0
}

.four-zero .text-four-zero {
    color: #000;
    font-size: 75px;
    font-weight: 700
}

.cms-not-found-404 .contact-us-container {
    margin: 25px 0 50px
}

.cms-not-found-404 .contact-container .quote-form-txt h2 {
    font-size: 18px
}

.three-sections-about {
    background: #00579f;
    margin: 40px 0;
    border-radius: 10px;
    padding: 30px 40px;
    text-align: center
}

.content-page-paragraph {
    color: #7d7d7d;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.62px
}

.three-sections-heading {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin: 20px 0;
    line-height: 40px
}

.three-sections-paragraph {
    padding: 0;
    color: #fff
}

.center-banner-head {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 30px);
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 20px 15px;
    box-sizing: border-box;
    background-image: linear-gradient(360deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), linear-gradient(360deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3));
    background-size: 100% 100%;
    background-position: center;
    margin-left: 15px;
    font-size: 30px !important;
    font-weight: 700 !important;
    border-radius: 0 0 10px 10px
}

.contact-three-content {
    text-align: center;
    margin-bottom: 18px
}

.contact-three-heading {
    font-weight: 600;
    line-height: 40.85px;
    text-align: center;
    color: #000
}

.contact-form-info .contact-form {
    padding: 0 50px
}

.section-contact-row {
    border-right: 1px solid;
    height: 370px
}

.bonus-content .fieldset input,
.bonus-content .fieldset textarea {
    width: 540px;
    color: #7d7d7d
}

.bonus-content .submit {
    background: #faa61a !important;
    border-radius: unset;
    padding: 10px 40px
}

.bonus-content .submit span {
    font-size: 20px;
    font-weight: 600;
    line-height: 19.15px;
    text-align: left;
    color: #000
}

.block-contact-form .field {
    max-width: 540px
}

.block-contact-form .field.comment {
    margin-bottom: 25px
}

.brand-page-top h1 {
    color: #333e48;
    font-weight: 600;
    margin: 5px 0
}

.brand-page-top h1 span {
    color: #faa61a
}

.brand-page-top p {
    font-weight: 600;
    line-height: 16px
}

.brands .brand-our-intro {
    text-align: center;
    margin: 80px 0
}

.brands .brand-our-intro .our-feature h2 {
    padding: 20px;
    font-weight: 600
}

.brands .brand-our-intro .color-bg {
    background-color: #fff !important;
    color: #3b454f !important;
    border: 3px solid #3b454f
}

.brands .brand-our-intro .our-feature img {
    margin-top: -62px
}

.brands .brand-our-intro .our-feature {
    background-color: #e5ecf2;
    color: #000;
    border-radius: 10px;
    height: 100%
}

.brands_grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px 20px
}

.brands_grid_column {
    border: 1px solid #d0e3e9;
    border-radius: 10px;
    text-align: center
}

.brands .brands-thumb .image {
    padding: 30px 10px
}

.brands .brands-thumb .link.brand-name {
    text-align: center;
    padding: 8px 0;
    background-color: #ebf2f8;
    border-top: 1px solid #d0e3e9;
    border-radius: 0 0 10px 10px
}

.brands .brands-thumb .link.brand-name a {
    color: #333e48;
    font-weight: 600
}

.brand-cats {
    width: 100%;
    display: block;
    float: left;
    margin: 0 0 50px 0
}

.brandlist {
    width: 100%;
    border: none;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0) linear-gradient(to top, #dfdfdf 10%, #f9f9f9 90%) repeat scroll 0 0;
    color: #222;
    font-weight: 700;
    font-size: 13px;
    margin: 40px 0;
    letter-spacing: .5px;
    text-align: center;
    display: block
}

.brandlist ul {
    margin: 0;
    padding: 0
}

.brandlist ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 46px;
    display: block;
    outline: 0;
    float: left;
    border-right: 1px #ccc solid
}

.brandlist ul li a {
    outline: 0;
    background: 0 0;
    text-decoration: none;
    display: block;
    color: #666;
    height: 36px;
    line-height: 35px
}

.brand_container {
    column-count: 4;
    width: 100%
}

.brand-group {
    display: grid
}

.brand_container h3 {
    width: 100%;
    display: block;
    padding: 5px 2%;
    float: left;
    color: #333e48;
    background-color: #fff;
    border-bottom: 1px #333e48 solid;
    border-right: none;
    border-left: none;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase
}

.brand_container ul {
    padding: 0;
    float: left;
    margin-left: 20px
}

.brand_container ul li {
    width: 100%;
    line-height: 12px;
    list-style: circle;
    float: left;
    margin: 0 1% 0 2%
}

.brand_container ul li a {
    text-decoration: none;
    outline: 0;
    padding: 3% 0;
    display: block;
    color: #666;
    font-size: 13px;
    background: 0 0
}

.global-brand .block-home .block-title {
    padding: 10px 11px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #222;
    background: #ddd !important;
    margin-bottom: 10px
}

.global-brand .block-home .block-title strong {
    font-weight: 600;
    font-size: 2rem
}

.global-brand .block-home .block-title p.posttext {
    margin: -2px 0 0
}

.global-brand .block-home .block-title p.posttext a {
    text-transform: uppercase
}

.global-brand .block-home .block-title p.posttext a:after {
    content: '\e930';
    display: inline-block;
    font-family: icomoon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-size: 16px;
    margin-left: 3px;
    position: relative;
    top: 2px
}

.global-brand .block-brand .block-content {
    margin: -10px 1px;
    overflow: hidden
}

.global-brand .block-brand .block-content .owl-stage-outer .item a {
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    display: inline-block
}

.global-brand .block-home {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
    -o-box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
    margin-bottom: 16px
}

.product-detail-price {
    padding: 5px 0 0 0
}

#btnSaveIt {
    padding: 11px 30px 10px 30px;
    margin: 5px 0 10px 0;
    border: 1px #51268f solid
}

.footer-top address a {
    color: #00579f;
    font-weight: 700
}

.home-services .service-icon {
    width: 60px;
    float: left;
    height: 60px
}