/* From https://miatlantic.co.uk/about-us */
.featured-category,
.super-deals {
    padding: 20px 0 5px;
    width: 100%
}

.product-info-main .stock-status span,
.products-grid .stock-available span {
    color: green !important
}

.detail-sec td .brand-color {
    color: #00579f !important
}

.product-info-main .call-for-price .call-us {
    color: #e00000 !important
}

#product_addtocart_form .detail-quote-btn {
    background: #e00000 !important;
    padding: 18px 30px;
    width: 169px;
    height: 57px !important;
    font-weight: 700;
    margin-left: 20px;
    display: block;
    text-align: center;
    position: relative;
    top: 20px
}

small.copyright {
    color: #fff !important
}

.featured-category {
    background: #f9f9f9
}

.featured-products-section {
    width: 100%;
    background: #f9f9f9;
    padding-bottom: 1px
}

.about-us-heading {
    color: #000;
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 300;
    line-height: 54.47px
}

.main-btn-about {
    background: #d9d9d9;
    padding: 10px;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 700;
    line-height: 20.43px;
    text-align: left;
    color: #000
}

.about-us-home {
    margin: 15px 0 30px
}

.featured-category .block-home,
.featured-products-section .block-home,
.super-deals .block-home {
    box-shadow: none !important
}

.featured-products-section .block-filterproducts {
    padding-bottom: 10px
}

.featured-products-section .block-title {
    background: #f9f9f9 !important
}

.global-brand {
    width: 100%;
    padding: 20px 0 1px
}

.global-brand .block-title {
    background: 0 0 !important
}

.clients-home {
    width: 100%;
    padding: 15px 0 1px
}

.listing-prod-detail table tr td:first-child {
    width: 50%;
    color: #000;
    font-weight: 600
}

.listing-prod-detail table td {
    padding: 2px 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.2px
}

.listing-prod-detail table td a {
    color: #428dc1
}

.header-container .hotline-shop strong {
    font-weight: 500
}

.products-grid .product-item-details .call-us {
    color: red;
    font-size: 11px;
    font-weight: 600
}

.products-grid .product-item-details .call-num {
    color: #000;
    font-weight: 600;
    font-size: 12px
}

.products-grid .product-item-info .product-item-details .product-item-inner .listing-quote-btn {
    background-color: #ff2020;
    border-radius: 1px;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    width: 155px;
    height: 40px
}

.products-grid .stock-available span {
    font-weight: 600;
    line-height: 12px
}

.products-grid .stock-unavailable span {
    color: red;
    font-weight: 600;
    line-height: 12px
}

.products-grid .product-item-name a {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #231f20
}

.products-grid .product-item-name {
    font-size: 107.69%;
    padding-top: 10px;
    font-weight: 400;
    white-space: normal;
    text-overflow: ellipsis;
    display: block;
    margin-bottom: 12px;
    line-height: 16px;
    height: 40px
}

.products-grid .product-item-info {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: relative;
    padding-bottom: 62px;
    border: 1px solid #e1e1e1
}

.products-grid .product-item-details .listing_page_price {
    float: none;
    width: 100%;
    margin: 16px 0 25px;
    line-height: 15px
}

.products-grid .product-item-details .listing_page_price .price {
    color: #cc1212;
    font-size: 14px;
    font-weight: 600
}

.products-grid .product-item-details .listing_page_price .inc-price-text-line {
    color: #717171;
    font-weight: 600;
    font-size: 13px
}

.products-grid .product-item-details .listing_page_price .inc-price {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px
}

.products-grid .product-item-details .listing_page_price .inc-price-text {
    font-size: 12px;
    margin-left: 2px
}

.products-grid .product-item-info .product-item-details .product-item-inner .actions-primary .tocart {
    font-size: 100%;
    color: #fff;
    background: #3f9a59;
    border-radius: 1px;
    padding: 0 30px;
    width: 155px;
    height: 40px
}

.products-grid .product-item-info .product-item-details .product-item-inner .actions-primary .tocart span {
    font-size: 11px;
    font-weight: 700;
    line-height: 11px;
    text-align: center
}

.products-grid .product-item-info .product-item-details .product-item-inner .actions-primary .tocart:before {
    line-height: 40px;
    content: '\e957';
    display: inline-block;
    font-family: icomoon !important;
    speak: none;
    font-weight: 400;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-size: 14px;
    padding-right: 5px
}

.featured-products-section .owl-carousel .owl-item img {
    display: inline-block;
    width: auto
}

.product-info-main .product .page-title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    width: 100%
}

.fieldset:last-child,
.page-layout-2columns-right .product-info-main,
.page-layout-2columns-right .product.media {
    width: 100% !important
}

.product-info-main .stock-status span {
    font-size: 14px;
    font-weight: 600;
    line-height: 19.07px
}

.product-info-main .stock-unavailable span {
    color: red
}

.product-detail-price .prices.exvat-price {
    color: #cc1212;
    font-size: 18px;
    font-weight: 600
}

.product-detail-price .inc_vat_detail .Inclvat,
.product-detail-price .prices .Exclvat {
    font-size: 10px;
    margin-left: 2px;
    color: #8c8679;
    font-weight: 500
}

.product-detail-price .Exclvat-sec .price_seprator {
    color: #717171;
    font-weight: 400;
    font-size: 13px;
    margin: 0 9px
}

.product-detail-price .inc_vat .inc_vat_detail {
    color: #000;
    font-size: 18px;
    font-weight: 600
}

.detail-sec tr td {
    line-height: 16px;
    color: #666
}

.product-add-form .qty .label {
    display: none !important
}

.product-add-form .fieldset .control.qty-control {
    background: #fff
}

.product-options-bottom .box-tocart .field.qty .control .qty {
    height: 57px;
    color: #444;
    border: none;
    background: 0 0;
    width: 97px;
    text-align: center;
    font-size: 18px;
    display: inline-block
}

.product-info-main .box-tocart .field.qty {
    margin: 0 !important
}

.product-info-main .box-tocart .field.qty .qty-button {
    background-color: #e5e5e4;
    width: 25px;
    border-radius: 0;
    margin-bottom: 3px
}

.product-info-main .box-tocart .field.qty .qty-button .qty-btn {
    background-color: #e5e5e4;
    width: 25px !important
}

.product-info-main .qty-control .qty-btn:before {
    left: 8px !important;
    top: 12px !important
}

.product-info-main .qty-control .qty-plus:after {
    top: 8px !important;
    left: 12px !important
}

.product-info-main .product-add-form .actions {
    margin: 0 !important;
    padding: 0 !important
}

.product-info-main .product-add-form button#product-addtocart-button {
    background: #3f9a59 !important;
    font-weight: 700;
    height: 50px;
    border: none;
    width: 50% !important;
    margin: 0 5px !important
}

.product-info-main .product-add-form button#product-buynow-button {
    background: #faa61a !important;
    color: #fff !important;
    font-weight: 700;
    height: 50px;
    border: none !important;
    width: 43% !important
}

.fieldset:last-child {
    margin: 0 !important;
    display: flex !important
}

.product-info-main .product-add-form .box-tocart {
    padding: 10px 0 1px 10px
}

.product-info-main .box-tocart .field.qty .control .qty {
    height: 49px !important;
    width: 49px;
    position: relative;
    font-size: 15px;
    color: #000 !important
}

.product-info-main .call-for-price .call-us {
    font-size: 14px;
    font-weight: 600
}

.product-info-main .call-for-price .call-num {
    color: #000;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px
}

.product-info-price {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    height: 40px;
    padding: 5px 10px
}

.product-info-main .product-info-stock-sku {
    float: left;
    margin-top: 4px
}

.product-reviews-summary {
    float: right
}

.detail-sec {
    width: 76%;
    padding-top: 15px;
    border-right: none !important
}

#detail_brand_img {
    border-left: none !important;
    text-align: center;
    margin-top: 25px
}

.product-detail-price {
    margin-bottom: 5px;
    padding: 5px 0 0
}

.productDetail-quote {
    border: 1px solid #ededed;
    padding: 20px;
    margin: 50px 0 30px
}

.productDetail-quote .quote-title {
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    margin: -43px 55px 10px;
    background-color: #ff2d37;
    color: #fff;
    font-weight: 700 !important
}

.product-qoute-form input,
.product-qoute-form textarea {
    border: 1px solid #ccc !important;
    margin-bottom: 10px;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px
}

#btnSaveIt {
    padding: 11px 30px 10px;
    margin: 5px 0 10px;
    background-color: #000;
    color: #fff;
    border-radius: 7px;
    border: 1px solid #51268f;
    outline: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    letter-spacing: 1px;
    font-weight: 700
}

.detail-sec td {
    padding: 1px
}

.contact-us-container .contact-container {
    order: 1 !important
}

.contact-us-container .info-quote {
    order: 2 !important;
    margin-top: 20px
}

.contact-container .quote-form-txt h2 {
    color: #000;
    font-size: 15px;
    font-weight: 700;
    line-height: 40.85px;
    text-transform: uppercase
}

.contact-container .quote-form-txt p {
    color: #7d7d7d;
    line-height: 17px;
    font-size: 12px;
    font-weight: 400
}

.form-contact.brand-form .field {
    margin-bottom: 20px
}

.form-contact.brand-form form#contact-form {
    padding: 20px 0
}

.form-contact.brand-form .fieldset input,
.form-contact.brand-form .fieldset textarea {
    width: 540px;
    color: #7d7d7d
}

.form-contact.brand-form input,
.form-contact.brand-form textarea {
    color: #7d7d7d;
    font-size: 12px
}

.form-contact.brand-form .brand-submit {
    background: #faa61a
}

.form-contact.brand-form .brand-submit span {
    font-weight: 700;
    line-height: 19.15px;
    text-align: center;
    color: #000;
    text-transform: uppercase
}

.quote-head-help {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    margin-bottom: 25px
}

.contact-three-content ul {
    list-style: none;
    text-align: left;
    padding: 0;
    line-height: 10px;
    font-size: 12px;
    color: #7d7d7d;
    margin-bottom: 25px
}

.quote-help-paragraph {
    text-align: left;
    font-size: 13px;
    line-height: 18px;
    padding-bottom: 10px;
    color: #7d7d7d
}

@media (max-width:480px) {
    .two-banners-section .second-port {
        margin-top: 20px
    }

    .about-image img {
        float: none;
        max-width: -webkit-fill-available
    }

    .about-us-content {
        margin: 10px 0
    }

    .about-us-content-paragraph {
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        color: #000;
        line-height: 20px;
        margin-bottom: 40px !important
    }

    .contact-form-info .contact-form {
        padding: 0 20px;
        border-left: none !important
    }

    .section-contact-row {
        border-right: none;
        margin-bottom: 30px;
        text-align: center
    }

    .section-contact-row .contact-three-content {
        padding: 10px 0
    }

    .bonus-content .fieldset input,
    .bonus-content .fieldset textarea {
        width: 100%;
        color: #7d7d7d
    }

    .global-brand .block-brand .block-content .owl-stage-outer {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0
    }

    .global-brand .owl-theme .owl-nav {
        display: none
    }

    .contact-form-info .block-contact-form .submit.primary {
        background: #faa61a
    }

    .contact-form-info .block-contact-form .submit.primary span {
        color: #000;
        font-weight: 600
    }

    .clients-home .block-testimonial .owl-item {
        background: #f3faff;
        margin-bottom: 10px;
        height: 245px
    }

    .brand-cats ul.sitelist {
        column-count: 2 !important;
        padding-left: 0 !important
    }

    .section-one-why .section-one-heading {
        font-size: 24px;
        font-weight: 700;
        color: #00579f;
        margin: 10px 0;
        line-height: 40px
    }

    .three-sections-about .three-sections-heading {
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        margin: 10px 0;
        line-height: 40px
    }

    .why-sect-rows .second-three-sections-about {
        height: auto !important;
        margin: 15px 0
    }

    .three-sections-about .three-sections-paragraph {
        color: #fff
    }

    .section-one-why {
        margin: 10px 0 !important
    }

    @media (min-width:481px) and (max-width:767px) {
        .two-banners-section .second-port {
            margin-top: 20px
        }

        .list-megamenu-items>li .icon_items {
            display: inline-block !important
        }

        @media (min-width:768px) and (max-width:820px) {
            .about-us-heading {
                color: #000;
                margin-bottom: 5px;
                font-size: 40px;
                font-weight: 300;
                line-height: 54.47px
            }

            .about-us-content {
                margin: 50px 0 10px
            }

            .about-us-content-paragraph {
                font-size: 14px;
                font-weight: 300;
                color: #000;
                line-height: 20px;
                margin-bottom: 30px
            }

            .contact-form-info .contact-form {
                padding: 0 15px;
                border-left: none !important
            }

            .section-contact-row {
                border-right: none
            }

            .block-contact-form .field.comment,
            .block-contact-form .field.email,
            .block-contact-form .field.name,
            .block-contact-form .field.telephone,
            .product-info-main .box-tocart {
                max-width: 100% !important
            }

            .global-brand .owl-theme .owl-nav,
            .products-grid .product-item-details .listing_page_price .inc-price-text-line {
                display: none
            }

            .product-add-form {
                background: #f6f6f2;
                height: 88px
            }

            .product-info-main .box-tocart .fieldset .actions {
                display: flex;
                flex-wrap: nowrap !important;
                width: auto !important;
                display: flex;
                flex-wrap: nowrap !important
            }

            .product-info-main .product-add-form .box-tocart {
                padding: 15px 0 1px 15px
            }

            .center-banner-head {
                position: absolute;
                bottom: 0;
                left: 0;
                width: calc(100% - 30px);
                text-align: center;
                color: #fff;
                margin: 0 0 0 15px;
                padding: 10px;
                box-sizing: border-box;
                background-image: linear-gradient(360deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), linear-gradient(360deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3));
                background-size: 100% 100%;
                background-position: center;
                font-size: 25px !important;
                font-weight: 700 !important;
                border-radius: 0 0 10px 10px
            }

            .section-one-why,
            .three-sections-about {
                padding: 30px 15px !important;
                height: auto !important;
                margin: 15px 0 !important
            }

            .section-one-heading {
                font-weight: 700;
                color: #00579f;
                line-height: 40px
            }

            .three-sections-about {
                background: #00579f;
                color: #fff !important
            }

            .three-sections-heading {
                font-weight: 700;
                color: #fff;
                line-height: 40px
            }

            .brand-page-top h1 {
                color: #333e48;
                font-weight: 600
            }

            .brand-page-top h1 span {
                color: #faa61a
            }

            .brand-page-top p {
                font-weight: 600;
                line-height: 16px
            }

            .brands .brand-our-intro {
                text-align: center;
                margin: 80px 0
            }

            .brands .brand-our-intro .our-feature,
            .brands_grid_column {
                border-radius: 10px !important
            }

            .brands .brand-our-intro .our-feature img {
                margin-top: -61px
            }

            .brands .brand-our-intro .our-feature h2 {
                padding: 20px;
                font-weight: 600
            }

            .brands .brands-thumb .link.brand-name {
                border-radius: 0 0 10px 10px !important
            }

            .brands .brands-thumb .link.brand-name a {
                font-weight: 600;
                color: #333e48;
                font-size: 12px
            }

            .brandlist {
                margin: 20px 0 !important
            }

            .brand_container {
                column-count: 3 !important;
                width: 100%
            }

            .contact-three-content {
                text-align: center;
                margin-bottom: 25px
            }

            .contact-index-index .primary .submit {
                width: auto
            }

            .cms-get-a-quote .contact-form-info .row {
                margin-left: 0 !important;
                margin-right: 0 !important
            }

            .cms-get-a-quote .g-recaptcha {
                margin-left: 15px
            }

            .why-sect-rows>.col-md-6:first-child,
            .why-sect-rows>.col-md-6:nth-child(2) {
                margin-bottom: 25px
            }

            .myaccount-dropdown .fieldset:last-child {
                display: block !important
            }

            .myaccount-dropdown .block-customer-login .input-text {
                text-align: left !important;
                padding-left: 20px !important
            }

            .home-services.services-four>ul>li {
                padding: 10px 8px !important
            }

            .two-banners-section {
                padding: 40px 0 5px !important
            }

            .featured-category {
                padding: 25px 0 10px !important
            }

            .cms-promotion .products-grid .product-items .product-item {
                width: 50% !important
            }

            .cms-promotion .promo-heading-home {
                font-size: 30px;
                font-weight: 600;
                color: #000;
                text-align: left;
                line-height: 40px
            }

            .brand-cats ul.sitelist {
                column-count: 3 !important;
                padding-left: 0 !important
            }
